@font-face {
	font-family: 'Ferry';
	src: url('./fonts/Ferry-Black/Ferry-Black.eot');
	src: local('Ferry Black'), local('Ferry-Black'),
		url('./fonts/Ferry-Black/Ferry-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Ferry-Black/Ferry-Black.woff') format('woff'),
		url('./fonts/Ferry-Black/Ferry-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
	font-family: 'Ferry';
    font-weight: 900;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0.01em;
}